.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

.borderContainer{
    display: flex;
    /* opacity: 20%; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    padding-bottom: 0.4rem;
    border-radius: 2rem;
}

/* .borderContainer:hover{
    opacity: 100%;
} */

.myButton{
    background-color: #fdfdfd;;
    color: #000000;
    border: 4px solid #000000;
    padding: 0.9rem 1.3rem;
    font-size: 1rem;
    font-weight: 800;
    border-radius: 1.2rem;
    transition: 0.25s;
    margin: 0 auto;
}
.myButton:hover{
    background-color: #000000;
    color: #ffffff;
    border-color: #ffffff;
    transform: translateY(-10px);
    box-sizing: border-box;
    cursor: pointer;
}