.buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100;
    height: 10%;
}
.borderContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-radius: 2rem;
    width: 600px;
}
.myButton{
    background-color: #dde1f7;;
    color: #ad2e00;
    border: 4px solid #ad2e00;
    padding: 1rem;
    font-size: 1em;
    font-weight: 700;
    border-radius: 1.2rem;
    transition: 0.25s;
    margin: 0 auto;
}
.myButton:hover{
    background-color: #ad2e00;
    color: #020b33;
    border-color: #020b33;
    transform: translateY(-10px);
    box-sizing: border-box;
    cursor: pointer;
}