

.cardContainer{
    height: fit-content;
    min-height: 73vh;
    width: 40vh;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: 5px solid white;
    box-sizing: border-box;
    margin: 10px;
    object-fit: contain;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardContainer:hover{
    background-color: white;
    border: 5px solid rgb(117, 117, 117);
    color: black;
    font-weight: bolder;
    cursor: pointer;
    transform: translateY(-10px);
}

.textContainer{
    font-size: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.poster{
    border: 5px solid black;
}

.movieHeader{
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-weight: bolder;
}