.movieContainer{
    height: 100vh;
}
#wholePage{
    position:initial
}

.captionContainer{
    margin-bottom: 100px;
    margin-top: 0;
    padding: 0;
    transition: 0.25s;
    background-color: rgb(0, 0, 0);
    border: 5px solid white;
    color: white;
    border-radius: 14px;
    padding: 6px;
}
.captionContainer:hover{
    transform: translateY(-6px);
    border-radius: 10px;
    cursor: pointer;
}
.captionHeading{
    letter-spacing: 0.23rem;
    font-size: 40px;
    font-weight: 400;
}
.caption{
    letter-spacing: 0.1rem;
}

.myImage{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}