
.moviesContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
@media(max-width:700px){
    .moviesContainer{
        margin-bottom: 150px;
    }
}