.navBar {
    padding: 15px;
    padding-bottom: 6px;
    text-decoration: none;
    cursor: pointer;
    opacity: 20%;
    background-color: rgb(5, 5, 5);
    transition: 0.5s;
}
.navBar:hover{
    opacity: 100%;
    color: rgb(255, 255, 255);
}

#navBarBrand{
    color: rgb(255, 255, 255);
    font-weight:900;
    font-size: 30px;
    transition: 0.2s;
    letter-spacing: 0.13rem;
}
#navBarBrand:hover{
    color: gray;
    transform: translateY(-3px);
}
.navLinks{
    color: white;
    letter-spacing: 0.1rem;
    font-size: 20px;
    font-weight: 100;
    transition: 0.2s;
    text-decoration: none;
}
.navLinks:hover{
    transform: translateY(-3px);
    color: gray
}
body{
    text-decoration: none;
}