.navBar {
    padding: 0.3em;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.2;
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.5s;
}
.navBar:hover{
    opacity: 1;
}

#navBarBrand{
    color: rgb(255, 255, 255);
    font-weight:900;
    font-size: 1.8em;
    transition: 0.2s;
    letter-spacing: 0.13rem;
}
#navBarBrand:hover{
    color: gray;
    transform: translateY(-3px);
}
.navLinks{
    color: white;
    letter-spacing: 0.1rem;
    font-size: 1.2em;
    font-weight: 100;
    transition: 0.2s;
    text-decoration: none;
}
.navLinks:hover{
    transform: translateY(-3px);
    color: gray
}
body{
    text-decoration: none;
}

@media (max-width: 560px){
   .navBar{
       opacity: 1;
   }
}