.searchInputContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 2.5em;
}
.inputField{
    width: 45%;
    height: 5vh;
    border-radius: 1rem;
    font-weight: bolder;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 0.1rem;
}
.searchHeaderContainer{
    margin-top:110px;
    margin-bottom: 25px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

#searchButton{
    color: white;
    background-color: black;
    border: 3px solid white;
    font-weight: bolder;
    border-radius: 0.6rem;
}

@media(max-width:500px){
    .inputField{
        width: 90%;
        margin-bottom: 0.5em;
    }
    #searchButton{
        padding: 0.25em;
        font-size: 0.9em;
    }
}