.searchInputContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.inputField{
    width: 45%;
    height: 5vh;
    border-radius: 1rem;
    font-weight: bolder;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 0.1rem;
}
.searchHeaderContainer{
    margin-top:110px;
    margin-bottom: 25px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

#searchButton{
    color: white;
    background-color: black;
    border: 3px solid white;
    font-weight: bolder;
    border-radius: 0.6rem;
}